<html lang="en">

<head>
  <%- include ('./partials/head') %>
    <title>
      <%= title %> | BugSpray
    </title>
</head>

<body class="bg-palette-1 text-black font-sans flex flex-col h-screen justify-between">
  <%- include ('./partials/nav') %>
    <!-- Pass bodyFile as filename -->
    <div class="flex-grow">
      <%- include(bodyFile) %>
    </div>
    <%- include ('./partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <!-- Chart line -->
  <script src="js/script.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
</body>

</html>