<html lang="en">

<head>
  <%- include ('./partials/head') %>
    <title>
      <%= title %>
    </title>
</head>

<body class="bg-palette-1 text-black font-sans flex flex-col h-screen justify-between">
  <%- include ('./partials/nav') %>
    <!-- Pass bodyFile as filename -->
    <div class="flex-grow">
      <%- include(bodyFile) %>
    </div>
    <%- include ('./partials/footer') %>
      <script src="/js/script.js"></script>
</body>

</html>